.product {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin: 10px auto;
   padding: 20px;
   width: 300px;
   max-height: 450px;
   box-shadow: 0 8px 32px 0 rgba(4, 20, 250, 0.37);
   background-color: white;
   box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75); 
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
   transition: transform 0.3s ease-in;
   
 }
 
 .product__row {
   display: flex;
   flex-wrap: wrap;
   z-index: 1;
   margin-left: 5px;
   margin-right: 5px;
 }
 .product > img {
   max-height: 200px;
   width: 100%;
   object-fit: contain;
   margin-bottom: 15px;
 }
 .product__price {
   margin-top: 5px;
 }
 
 .product__info {
   height: 100px;
   margin-bottom: 15px;
 }
 .link {
   text-decoration: none;
   color: #000;
 }
 .info_container {
   margin-top: 20px;
   margin-bottom: 20px;
   display: flex;
   justify-content:start;
   align-items:center;
 }
 .more_info{
   background: blue;
   color:white;
   margin-left: 10px;

   padding: 10px;
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.18);
   /* position: left; */
 
 }
 .more_info:hover {
   cursor: pointer;
 }
 
 